@(message: String)

@main("Welcome to Play 2.1") {
    
   Hello iform !

 <div>
  <form class="form-inline">
    <div class="preview-element">
      <div class="row-fluid">
        <div class="input-append">
          <input class="span12" id="interestForm" type="text" placeholder="Interest" style="text-align:center;">
        </div>
      </div>
      <div class="row-fluid" style="padding-top:5px;">
        <button class="add-interest btn-success btn-block" id="interestButton" data-form-id = "interestForm" >Add></button>
        
      </div>
    </div>
  </form>
</div>

}
